VITE_DATA_DISTRIBUTION_METRICS_URL=https://example.com/msc-wis2node/data-distribution-metrics/

VITE_BROKER_URL=wss://globalbroker.meteo.fr:443/mqtt
VITE_BROKER_USERNAME=everyone
VITE_BROKER_PASSWORD=everyone

VITE_TOPIC_NOTIFICATION='origin/a/wis2/ca-eccc-msc/#'
VITE_TOPIC_ERRORS='monitor/a/wis2/ca-eccc-msc/#'